<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Add My Project</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/700d7e38d3.js" crossorigin="anonymous"></script>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid shadow bg-white">
            <img class="navbar-brand logo" src="/assets/images/dw.png" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    {{ if .UserLoginSession.IsLogin }}
                    <li class="nav-item">
                        <a class="nav-link" href="/addProject">Add Projects</a>
                    </li>
                    {{ end }}
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonial">Testimonials</a>
                    </li>
                </ul>
                {{ if .UserLoginSession.IsLogin }}
                <form class="d-flex mx-3" method="POST" action="/logout">
                    <button class="btn btn-dark">Logout</button>
                </form>
                <form class="d-flex">
                    <a type="button" class="btn btn-dark" href="/contact">Contact Me</a>
                </form>
                {{ else }}
                <div class="d-flex align-items-center gap-3">
                    <a class="nav-link" href="/form-login">Login</a>
                    <a class="nav-link fw-bold" href="/form-register">Register</a>
                    <form class="d-flex">
                        <a type="button" class="btn btn-dark" href="/contact">Contact Me</a>
                    </form>
                </div>
                {{ end }}
            </div>
        </div>
    </nav>

    <div class="container my-5 py-4" style="max-width: 540px;">
        <form action="/register" method="POST" >
            <h3 class="text-center mb-4">REGISTER YOUR ACCOUNT</h3>

        {{ if .FlashMessage }}    
        {{ if .FlashStatus }}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ .FlashMessage }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{ else }}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ .FlashMessage }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{ end }}
        {{ end }}

            <div class="mb-3">
                <label for="name" class="form-label fw-bold p-1">Name</label>
                <input type="text" class="form-control" id="name" name="name">
                <input type="hidden" class="form-control" id="name" name="role" value="Member">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label fw-bold p-1">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" name="email">
            </div>
            <div class="mb-3">
                <label for="inputPassword5" class="form-label form-label fw-bold p-1">Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="password">
            </div>
            <div class="d-flex justify-content-end mt-4">
                <button class="btn btn-dark px-4 rounded-5" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <!-- <script src="/assets/js/addProject.js"></script> -->
</body>

</html>